.cardDiv__C {
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.cardBody__C {
  display: flex;
  width: 285px;
  height: 120px;
  background-color: #c4c4c4;
  justify-content: center;
  /* margin-top: 3px; */
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 3px; */
}

.cardPhotoRating__C {
  width: 90px;
  height: 120px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
}

.cardPhoto__C {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-color: #e7e7e7;
  margin-top: 10px;
}

.cardRating__C {
  display: flex;
  font-size: 20px;
}

.cardNameTags__C {
  width: 170px;
  height: 120px;
  /* background-color: #aaaaaa; */
  padding-left: 5px;
}

.cardName__C {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

li {
  background-color: white;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 17px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}

/* .cardSelectorDiv {
  width: 55px;
  height: 120px;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSelectorHole {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
} */

.cardArrowKM__C {
  width: 35px;
  height: 120px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profileArrowC__C {
  /* position: fixed; */
  /* left: 70px; */
  /* top: 8px; */
  transform: rotate(-45deg) scale(1.5);
}

.cardKM__C {
  margin-right: 2px;
}

.homesearchformb__C {
  width: 100%;
  height: 100%;
}

.homesearchb__C {
  width: 80%;
  font-size: 20px;
  height: 85%;
  background-color: #c4c4c4;
}

.homesearchSb__C {
  width: 47px;
  height: 47px;
  font-size: 18px;
}
