.cardHolder__CHB {
  margin-top: 15px;
  height: 425px;
  overflow: scroll;
}

.buttonStyle__CHB {
  /* background-color: #4caf50; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
