.mainDiv__PC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameDateRating__PC {
  width: 320px;
  height: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.nameText__PC {
  font-size: 22px;
}

.dateText__PC {
  font-size: 18px;
}

.rating__PC {
  display: flex;
  flex-direction: row-reverse;
}

.ratingText__PC {
  font-size: 22px;
}
