.cardHolder__CHPF {
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.buttonDiv__CHPF {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.buttonStyle__CHPF {
  padding: 0px 0px;
  margin: 0px 0px;
  border-width: 0.01px;
  border-color: #c4c4c4;
}

.cardSelectorDiv__CHPF {
  width: 55px;
  height: 120px;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardSelectorHole__CHPF {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSelectorHoleSelected__CHPF {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #121212;
}

.cardSelectorHoleSelectedRed__CHPF {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: red;
}
